		*{
    		font-family: 'Noto Sans KR', sans-serif;
            margin: 0px auto;
            
    	}
    	h1{
    		
    	}
    	h1>a{
    		text-decoration: none;
    		color: black;
    	}
    	h1>a:hover{
    		color: black;
    	}
    	#header,
        #content,
        #footer{
            width: 1200px;
            margin: 0px auto;
        }
        #header{
            width: 100%;
            border-bottom: 1px solid;
            height: 81px;
            text-align: center;
        }
        #header>span{
        	float: right;
        }
        #header>a>img{
            float: left;
            height: 61px;
            width: 213x;
            margin-bottom:20px;
            overflow: hidden;
        }
        #header>h1{
            padding: 10px;
            width: 600px;
            margin-top: 15px;
        }
        #menu{
        	font-size:20px;
            text-align: left;
            float:left;
            width:200px;
            height: 1000px;;
            border-right: 1px solid;
        }
        #menu>ol{
        }
        #menu>ol>h3{
            font-family: 'Do Hyeon', sans-serif;
            margin-top: 20px;
            font-size: 25px;
        }
        #menu>ol>li{
            margin-left: 15px;
            list-style: none;
        }
        #menu>ol>li>a{
            text-decoration: none;
            color:black;
            
        }
        #menu>ol>li>a:hover{
            color:black;
        }
        